<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{books.edit.title}">Edit book</title>
    </head>
    <body>
        <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
            <label for="title" th:text="#{books.edit.name}">Enter book name: </label>
            <input type="text" th:field="*{title}" id="title"/>
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error
            </div>
            <br/>
            <label for="author" th:text="#{books.edit.author}">Enter the author: </label>
            <input type="text" th:field="*{author}" id="author"/>
            <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error
            </div>
            <br/>
            <label for="year" th:text="#{books.edit.year}"></label>
            <input type="text" th:field="*{year}" id="year"/>
            <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error
            </div>
            <br/>
            <input type="submit" th:value="#{books.edit.create}">
        </form>
    </body>
</html>